.contacts-index {
    margin: 25px 0 0 0;
    padding: 0 0 20px 0;
    text-align: center;
    .wrapper-business-contact {
        max-width: 250px;
        display: inline-block;
    }
    .wrapper-business-card,
    .wrapper-business-card-profession {
        line-height: 17px;
        @include flexbox;
        @include justify-content(center);
    }
    .dash {
        display: none;
    }
    .wrapper-business-card,
    .wrapper-business-card-profession {
        display: inline-block;
    }
    .wrapper-home-phone {
        margin: 24px 0 0 0;
    }
    .home-phone-kyivstar,
    .home-phone-life {
        line-height: 17px;
        color: $dark;
        @include flexbox;
        @include justify-content(center);
    }
    .social {
        margin: 25px 0 0 0;
        @include flexbox;
        @include justify-content(center);
        .icon-social {
            margin: 0 10px 0 0;
            &:last-child {
                margin: 0;
            }
        }
    }
    @media screen and (min-width: 578px) {
        margin: 45px 0 0 0;
        .dash {
            display: inline-block;
        }
        .phone-kyivstar-life {
            width: 160px;
        }
        .wrapper-home-phone {
            margin: 34px 28px 0 0;
            @include flexbox;
            @include justify-content(flex-end);
        }
        .social {
            margin: 35px 0 0 35px;
            @include flexbox;
            @include justify-content(flex-start);
        }
    }
    @media screen and (min-width: 1200px) {
        .wrapper-home-phone {
            margin: 0;
            padding: 0 62px 0 0;
        }
        .wrapper-business-contact {
            @include flexbox;
            @include align-items(center);
        }
        .social {
            margin: 0;
            padding: 0 0 0 62px;
        }
    }
}