.contacts-index {
    margin: 25px 0 0 0;
    padding: 0 0 20px 0;
    text-align: center;
    .contact-card {
        @include flexbox;
        @include justify-content(center);
        @include align-items(center);
    }
    .wrapper-business-contact {
        max-width: 250px;
        display: inline-block;
    }
    .wrapper-business-card,
    .wrapper-business-card-profession {
        line-height: 17px;
        @include flexbox;
        @include justify-content(center);
    }
    .business-card {
        display: inline-block;
    }
    .dash {
        display: none;
    }
    .wrapper-business-card,
    .wrapper-business-card-profession {
        display: inline-block;
    }
    .wrapper-home-phone {
        margin: 24px 0 0 0;
        text-align: center;
    }
    .home-phone-kyivstar,
    .home-phone-life {
        line-height: 17px;
        color: $dark;
        display: inline-block;
    }
    .social {
        margin: 25px 0 0 0;
        @include flexbox;
        @include justify-content(center);
    }
    .icon-social-grey {
        opacity: 0;
        transition: opacity 0.2s linear;
    }
    .icon-social-grey {
        opacity: 1;
        transition: opacity 0.2s linear;
    }
    .icon-social-blue {
        opacity: 0;
        transition: opacity 0.2s linear;
    }
    .social-grey-blue {
        position: relative;
        width: 40px;
        height: 40px;
        margin: 0 10px 0 0;
        border: 2px solid #828282;
        border-radius: 50%;
        transition: border 0.2s linear;
        &:last-child {
            margin: 0;
        }
        &:hover {
            border: 2px solid rgba(45, 156, 219, 0.6);
            transition: border 0.2s linear;
            .icon-social-blue {
                opacity: 1;
                transition: opacity 0.2s linear;
            }
            .icon-social-grey {
                opacity: 0;
                transition: opacity 0.2s linear;
            }
        }
    }
    .icon-social {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        display: inline-block;
        cursor: pointer;
    }
    @media screen and (min-width: 578px) {
        margin: 45px 0 0 0;
        .phone-kyivstar-life {
            width: 160px;
        }
        .wrapper-home-phone {
            margin: 34px 28px 0 0;
            @include flexbox;
            @include justify-content(flex-end);
        }
        .social {
            margin: 35px 0 0 35px;
            @include flexbox;
            @include justify-content(flex-start);
        }
    }
    @media screen and (min-width: 1200px) {
        .dash {
            margin: 0 0 0 4px;
            display: inline-block;
        }
        .wrapper-home-phone {
            margin: 0;
            padding: 0 62px 0 0;
        }
        .wrapper-business-contact {
            min-width: 505px;
            @include flexbox;
            @include align-items(center);
        }
        .business-card-profession {
            display: inline-block;
        }
        .social {
            margin: 0;
            padding: 0 0 0 62px;
        }
    }
}