.portfolio-index {
    margin: 11px 0 0 0;
    .img-portfolio {
        text-align: center;
    }
    .img-home {
        width: 100%;
    }
    .portrait-photo,
    .advertising-photography {
        display: none;
    }
    // спросить у Ромы - как сделать это:
    .slider-goods .vector-left,
    .slider-goods .vector-right {
        display: none !important;
    }
    @media screen and (min-width: 768px) {
        margin: 44px 0 0 0;
    }
    @media screen and (min-width: 992px) {
        // temp (feature - plug js)
        .img-portfolio {
            display: none;
            &:first-child {
                display: block;
            }
        }
        .wedding-photography {
            position: relative;
        }
        // end temp
        .slider-goods .vector-left {
            position: absolute;
            top: 45.4%;
            left: 30px;
            display: inline-block !important;
            z-index: 2;
        }
        .slider-goods .vector-right {
            position: absolute;
            top: 45.4%;
            right: 30px;
            display: inline-block !important;
            z-index: 2;
        }
    }
}