.header {
    margin: 15px 0 0 0;
    .logo {
        width: 108px;
        margin: 0 0 0 -3px;
    }
    .wrapper-gamburger {
        @include flexbox;
        @include justify-content(flex-end);
    }
    .menu-gamburger {
        margin: 11px -3px 0 17px;
        border: 0;
        background: #fff;
    }
    .line-gamburger {
        width: 25px;
        height: 0px;
        margin: 0 0 3px 0;
        border: 2px solid $key_clr;
    }
}