    .header {
        margin-top: 15px;
        .logo {
            width: 108px;
            margin: 0 0 0 -3px;
        }
        .wrapper-gamburger {
            @include flexbox;
            @include justify-content(flex-end);
        }
        .full-menu {
            display: none;
        }
        .menu-gamburger {
            margin: 11px 12px 0 17px;
            border: 0;
            background: #fff;
        }
        .line-gamburger {
            width: 25px;
            height: 0px;
            margin: 0 0 3px 0;
            border: 2px solid $key_clr;
        }
        @media screen and (min-width: 768px) {
            .logo {
                width: 143px;
            }
            .wrapper-gamburger {
                display: none;
            }
            .full-menu {
                width: 509px;
                height: 40px;
                margin: 0 0 0 28px;
                display: inline-block;
            }
            .wrapper-menu-section {
                border-radius: 5px;
                list-style-type: none;
                background: $light_grey_clr;
                display: inline-block;
            }
            .link-logo {
                padding: 0 18px 0;
                border-radius: 5px;
                display: inline-block;
                transition: 0.4s linear;
                &:hover {
                    background: $hover_clr;
                    transition: 0.4s linear;
                }
            }
            .menu-section {
                line-height: 38px;
                text-transform: uppercase;
                cursor: pointer;
                transition: 0.4s linear;
                &:hover {
                    color: #ffffff;
                    transition: 0.4s linear;
                }
            }
        }
    }