.articles {
	max-width: 390px;
	margin: 44px auto 0;
	border-top: 1px solid grey;
	text-align: center;

	.wrapper-title-all-articles {
		margin: 45px 0 0;
	}

	.title-articles {
		font-size: 20px;
		font-style: italic;
		font-family: Arial Black;
		letter-spacing: -0.5px;	
	}

	.all-articles-button {
		width: 235px;
		height: 27px;
		margin: 5px auto 0;
		border: 1px solid #e4e4e4;
		border-radius: 5px;
		transform: skew(-20deg);
		cursor: pointer;
		background-image: linear-gradient(to top, #ffffff 0%, #eceded 37%, #ffffff 100%);
		@include flexbox;
		@include justify-content(space-evenly);
		@include align-items(center);
	}

	.all-brand {
		border-bottom: 2px solid $key_clr;
		margin: 0 0 3px 0;
		text-shadow: 0 1px 0 #ffffff;
		color: $key_clr;
		font-size: 15px;
		font-weight: 700;
		display: inline-block;
		transform: skew(20deg);
	}

	.all-stock-run {
		transform: skew(20deg);
	}

	.wrapper-news {
		width: 100%;
		margin: 0 auto;
		padding: 0 0 71px;
		border-bottom: 4px solid #175b8e;
	}

	.news {
		margin: 28px 0 0;
		display: flex;
		align-items: center;
	}

	.img-news {
		display: inline-block;
	}

	.content-news {
		max-width: 377px;
		margin: 0 0 0 26px;
		text-align: left;
		display: inline-block;
	}

	.title-news {
		margin: 10px 0 0;
		font-size: 15px;
		color: $key_clr;
		border-bottom: 1px solid $key_clr;
		display: inline-block;
	}

	.preview-content {
		margin: 14px 0 0;
		line-height: 20px;
		display: inline-block;
	}

	@media screen and (min-width: 600px) {
		width: 577px;

		.title-articles {
			float: left;
		}

		.all-articles-button {
			float: right;
		}
	}
}