.articles {
	max-width: 390px;
	margin: 44px auto 0;
	border-top: 1px solid grey;
	text-align: center;

	.wrapper-title-all-articles {
		margin: 45px 0 0;
	}

	.title-articles {
		font-size: 20px;
		font-style: italic;
		font-family: Arial Black;
		letter-spacing: -0.5px;	
	}

	.all-articles-button {
		width: 235px;
		height: 27px;
		margin: 5px auto 0;
		border: 1px solid #e4e4e4;
		border-radius: 5px;
		transform: skew(-20deg);
		cursor: pointer;
		background-image: linear-gradient(to top, #ffffff 0%, #eceded 37%, #ffffff 100%);
		@include flexbox;
		@include justify-content(space-evenly);
		@include align-items(center);
	}

	.all-brand {
		border-bottom: 2px solid $key_clr;
		margin: 0 0 3px 0;
		text-shadow: 0 1px 0 #ffffff;
		color: $key_clr;
		font-size: 15px;
		font-weight: 700;
		display: inline-block;
		transform: skew(20deg);
	}

	.all-stock-run {
		transform: skew(20deg);
	}

	.wrapper-news {
		width: 100%;
		margin: 0 auto;
		padding: 0 0 71px;
		border-bottom: 4px solid #175b8e;
	}

	.news {
		margin: 28px 0 0;
		@include flexbox;
		@include align-items(center);
	}

	.img-news {
		display: inline-block;
	}

	.content-news {
		max-width: 377px;
		margin: 0 0 0 26px;
		text-align: left;
		display: inline-block;
	}

	.title-news {
		margin: 10px 0 0;
		font-size: 15px;
		color: $key_clr;
		text-decoration: underline;
		display: inline-block;
	}

	.preview-content {
		margin: 14px 0 0;
		line-height: 20px;
		display: inline-block;
	}

	@media screen and (min-width: 600px) {
		max-width: 577px;

		.title-articles {
			float: left;
		}

		.all-articles-button {
			float: right;
		}
	}

	@media screen and (min-width: 1000px) {
		max-width: 1000px;

		.wrapper-news {
			@include flexbox;
			@include justify-content(space-between);
			@include align-items(baseline);
		}

		.news {
			width: 203px;
			margin: 28px 41px 0 0;
			display: inline-block;

			&:last-child {
				margin: 28px 0 0;
			}
		}

		.content-news {
			margin: 0;
		}
	}

	@media screen and (min-width: 1200px) {
		max-width: 1200px;

		.wrapper-news {
			@include align-items(start);
		}

		.wrapper-img-news {
		    width: 260px;
		    height: 174px;
		    @include flexbox;
		    @include justify-content(left);
		    @include align-items(center);
		}

		.news {
			width: 260px;
		}
	}
}