.brand {
	margin: 45px auto 0;

	.solution {
		float: left;
		max-width: 272px;
		font-size: 15px;
		font-style: italic;
		font-weight: 700;
		display: inline-block;
	}

	.button-all-brand {
		float: right;
		width: 200px;
		height: 25px;
		margin: 5px 0 0;
		border: 1px solid #e4e4e4;
		border-radius: 5px;
		transform: skew(-20deg);
		cursor: pointer;
		background-image: linear-gradient(to top, #ffffff 0%, #eceded 37%, #ffffff 100%);
		@include flexbox;
		@include justify-content(space-evenly);
		@include align-items(center)
	}

	.all-brand {
		border-bottom: 2px solid $key_clr;
		margin: 0 0 3px 0;
		text-shadow: 0 1px 0 #ffffff;
		color: $key_clr;
		font-size: 15px;
		font-weight: 700;
		display: inline-block;
		transform: skew(20deg);
	}

	.table-brand {
		margin: 5px 0 0;
		@include flexbox;
		@include justify-content(center);
		@include flex-flow(wrap);
	}

	.block-name-brand {
		width: 289px;
		height: 128px;
		background: url("img/line-grey.png") repeat;
		@include flexbox;
		@include justify-content(center);
		@include align-items(center);
		@include flex-flow(wrap);

		&:nth-child(even) {
		border-left: 1px solid;
        border-image: linear-gradient(rgba(0, 0, 0, 0), grey, rgba(0, 0, 0, 0)) 1 10%;
		}
	}

	.wrapper-name-brand {
		width: 144px;
		@include flexbox;
		@include justify-content(center);
	}

	.wrapper-list-link-brand {
		margin: 25px 0 0;
		@include flexbox;
		@include justify-content(space-between);
	}

	.list-link-brand {
		list-style-type: none;
	}

	.link-brand {
		margin: 10px 0 0;
		font-size: 15px;
		text-transform: uppercase;
		color: $key_clr;
		border-bottom: 1px solid $key_clr;
		display: inline-block;
	}

	@media screen and (min-width: 600px) {
		max-width: 585px;
	}
}