.brand {
	max-width: 390px;
	margin: 45px auto 0;
	text-align: center;

	.solution {
		max-width: 272px;
		margin: 0 auto;
		font-size: 15px;
		font-style: italic;
		font-weight: 700;
		display: block;
	}

	.button-all-brand {
		width: 200px;
		height: 25px;
		margin: 10px auto 0;
		border: 1px solid #e4e4e4;
		border-radius: 5px;
		transform: skew(-20deg);
		cursor: pointer;
		background-image: linear-gradient(to top, #ffffff 0%, #eceded 37%, #ffffff 100%);
		@include flexbox;
		@include justify-content(space-evenly);
		@include align-items(center)
	}

	.all-brand {
		border-bottom: 2px solid $key_clr;
		margin: 0 0 3px 0;
		text-shadow: 0 1px 0 #ffffff;
		color: $key_clr;
		font-size: 15px;
		font-weight: 700;
		display: inline-block;
		transform: skew(20deg);
	}

	.all-stock-run {
		transform: skew(20deg);
	}

	.table-brand {
		max-width: 300px;
		margin: 5px auto 0;
		display: block;
	}

	.block-name-brand {
		width: 289px;
		height: 128px;
		background: url("img/line-grey.png") repeat;
		@include flexbox;
		@include justify-content(center);
		@include align-items(center);
		@include flex-flow(wrap);
	}

	.wrapper-name-brand {
		width: 144px;
		@include flexbox;
		@include justify-content(center);
	}

	.wrapper-list-link-brand {
		width: 100%;
		margin: 25px 0 0;
		@include flexbox;
		@include justify-content(space-between);
	}

	.list-link-brand {
		width: 100%;
		list-style-type: none;
	}

	.wrapper-link-brand {
		width: 45%;
		display: inline-block;
	}

	.link-brand {
		margin: 10px 0 0;
		font-size: 15px;
		text-transform: uppercase;
		color: $key_clr;
		border-bottom: 1px solid $key_clr;
		display: inline-block;
	}

	@media screen and (min-width: 600px) {
		max-width: 585px;

		.solution {
			float: left;
		}

		.button-all-brand {
			float: right;
			margin: 5px 0 0;
		}

		.table-brand {
			max-width: 585px;
			@include flexbox;
			@include justify-content(center);
			@include flex-flow(wrap);
		}

		.block-name-brand:nth-child(even) {
				border-left: 1px solid;
	            border-image: linear-gradient(rgba(0, 0, 0, 0), #c5bfbf, rgba(0, 0, 0, 0)) 1 10%;
		}

		.list-link-brand {
			width: 100%;
			list-style-type: none;
			@include flexbox;
			@include justify-content(space-around);
			@include flex-flow(wrap);
		}

		.wrapper-link-brand {
			width: 23%;
		 }

		.list-link-brand {
			text-align: left;
		}
	}

	@media screen and (min-width: 1000px) {
		max-width: 1000px;

		.solution {
			max-width: 100%;
		}

		.table-brand {
			max-width: 100%;
		}

		.table-brand {
			max-width: 100%;
		}

		.block-name-brand {
			width: 240px;
			border-left: 1px solid;
	        border-image: linear-gradient(rgba(0, 0, 0, 0), #c5bfbf, rgba(0, 0, 0, 0)) 1 10%;
    		background: url(img/line-grey.png) 50%/contain repeat;

    		&:first-child {
    			border-left: 0;
	        	border-image: none;
    		}
		}

		.wrapper-name-brand {
			width: 45%;
			display: inline-block;
		}

		.wrapper-link-brand {
			width: 12%;
		}

		.for-high {
			display: none;
		}
	}
}