.contacts {
	max-width: 585px;
	margin: 23px auto 0;

	.copyrite {
		display: block;
	}

	.link-divisions {
		margin: 8px 10px 0 0;
		font-size: 15px;
		color: $key_clr;
		border-bottom: 1px solid $key_clr;
		display: inline-block;
	}

	.wrapper-call-back-conditions {
		margin: 24px 0 0;
	}

	.call-back-phone {
		display: inline-block;
	}

	.address {
		font-size: 13px;
	}

	.call-back-phone {
		font-size: 24px;
		font-weight: 700;
	}

	.wrapper-form-feedback-conditions {
		width: 49%;
		display: inline-block;
	}

	.wrapper-link-feedback {
		display: flex;
	}

	.link-feedback {
		font-size: 13px;
		font-weight: 500;
		color: $key_clr;
		border-bottom: 1px dashed $key_clr;
		display: inline-block;
	}

	.wrapper-form-feedback-conditions {
		width: 185px;
		margin: 0 0 0 102px;
		vertical-align: top;
		display: inline-block;
	}

	.form-feedback-bottom {
		width: 167px;
		height: 27px;
		border: 1px solid #e4e4e4;
		border-radius: 5px;
		transform: skew(-20deg);
		cursor: pointer;
		background-image: linear-gradient(to top, #ffffff 0%, #eceded 37%, #ffffff 100%);
		display: flex;
		justify-content: space-evenly;
		align-items: center;
	}

	.form-feedback {
		border-bottom: 1px dashed $key_clr;
		text-shadow: 0 1px 0 #ffffff;
		color: $key_clr;
		font-size: 13px;
		display: inline-block;
		transform: skew(20deg);
	}

	.conditions {
		margin: 17px 0 0;
		display: inline-block;
	}

	.wrapper-time-payment{
		width: 192px;
		margin: 31px 0 0;
	}

	.day-time-bold {
		font-weight: 700;
	}

	.day-time {
		margin: 13px 0 0;
		display: inline-block;
	}
}