.contacts {
	max-width: 585px;
	margin: 23px auto 0;

	.copyrite {
		display: block;
	}

	.link-divisions {
		margin: 8px 10px 0 0;
		font-size: 15px;
		color: $key_clr;
		border-bottom: 1px solid $key_clr;
		display: inline-block;
	}

	.wrapper-call-back-conditions {
		margin: 24px 0 0;
	}

	.call-back-phone {
		display: inline-block;
	}

	.address {
		font-size: 15px;
	}

	.call-back-phone {
		font-size: 30px;
		font-weight: 700;
	}

	.wrapper-form-feedback-conditions {
		width: 49%;
		display: inline-block;
	}

	.wrapper-link-feedback {
		display: flex;
	}

	.link-feedback {
		font-size: 15px;
		font-weight: 500;
		color: $key_clr;
		border-bottom: 1px solid $key_clr;
		display: inline-block;
	}
}