.footer {
	margin: 30px 0 0;
	text-align: center;

	.logo-owox {
		margin: 2px 0 0;
		vertical-align: top;
	}

	.about-developer {
		width: 193px;
		margin: 0 0 0 4px;
		font-size: 11px;
		line-height: 15px;
		text-align: left;
		display: inline-block;
	}

	.link-developer {
		font-size: 11px;
		line-height: 15px;
		color: #0066aa;
		text-decoration: underline;
	}
	
	.year {
		font-size: 11px;
		color: #999;
		display: inline-block;
	}

	@media screen and (min-width: 1000px) {
			width: 210px;
		    height: 192px;
		    margin: 45px 0 0;
		    border-left: 1px solid;
		    border-image: linear-gradient(rgba(0, 0, 0, 0), #c5bfbf, rgba(0, 0, 0, 0)) 1 10%;
		    vertical-align: top;
		    @include flexbox;
			@include justify-content(space-evenly);
			@include align-items(center);

		.developer {
			    width: 150px;
	    		text-align: left;
		}

		.about-developer {
			margin: 0;
		}
	}
}