.header {
	margin: 15px auto 0;
	text-align: center;

	.logo {
		margin: 0 auto;
		display: block;
	}

	.wrapper-call-search {
		margin: 10px 0 0;
		vertical-align: top;
		display: inline-block;
	}

	.header-phone {
		margin: 0 0 0 5px;
		font-size: $fs_18;
		font-style: italic;
	}

	.call-back {
		margin: 0 0 0 15px;
		font-size: $fs_13;
		font-style: italic;
		border-bottom: 1px dashed $key_clr;
		vertical-align: text-top;
		color: $key_clr;
	}

	.search {
		width: 240px;
		height: 25px;
		padding: 0 2px 0 10px;
		border: 1px solid $border_clr;
		border-radius: 5px 2px 5px 2px;
		transform: skew(-20deg);
		margin: 15px auto 0;
		text-align: left;
	}

	.form-search {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.search-text {
		width: 100%;
		border: 0;
		display: inline-block;
	}

	.search-button  {
		width: 45px;
		height: 19px;
		border: 1px solid $border_clr;
		border-radius: 5px 2px 5px 2px;
		font-size: 22px;
		text-align: center;
		line-height: 20px;
		background: #efefef;
		cursor: pointer;
		display: inline-block;
	}

	.img-search-button {
		margin: 0 0 2px 0;
		transform: skew(20deg);
	}

	.consultant {
		display: none;
	}

	.enter {
		margin: 10px 0 0;
	}

	.enter-link {
		vertical-align: text-top;
		font-size: $fs_13;
		border-bottom: 1px dashed $key_clr;
		color: $key_clr;
	}

	.enter-link-constant {
		display: none;
	}

	.sale-menu {
		width: 116px;
		height: 33px;
		margin: 8px auto 0;
		border: 1px solid $border_clr;
		border-radius: 5px;
		@include flexbox;
		@include justify-content(center);
		@include align-items(center);
	}

	.basket {
		border: 0;
		font-size: $fs_13;
		font-style: italic;
		font-weight: 700;
		border-bottom: 1px dashed $key_clr;
		color: $key_clr;
	}

	.divisions {
		display: none;
	}

	.menu-site {
		width: 390px;
		height: 35px;
		margin: 12px auto 0;
		border-radius: 5px;
		background: $key_clr;
		@include flexbox;
		@include justify-content (space-evenly);
		@include align-items(center);
	}

	.categories {
		width: 300px;
		height: 25px;
		border: 1px solid $dark;
		font-size: $fs_18;
		font-weight: 700;
	}

	.gamburger-menu {
		width: 28px;
		height: 23px;
		padding: 4px 3px;
		border: 1px solid $dark;
		border-radius: 5px;
		background: #fff;
		@include flex-flow (column);
		@include flexbox;
		@include justify-content (space-between);
		@include align-items(center);
		cursor: pointer;
	}

	.line-gamburger {
		width: 15px;
		height: 3px;
		background: $border_clr;
	}

	.all-stock-run {
		width: 19px;
		height: 11px;
		display: inline-block;
		transform: skew(20deg);
	}

	@media screen and (min-width: 600px) {
			width: 100%;
		    display: inline-block;

			.logo {
				display: inline-block;
			}

			.wrapper-call-search {
				margin: 10px 0 0 38px;
			}

			.search {
				margin: 15px 0;
			}

			.user-block {
				margin: 0 0 0 37px;
				display: inline-block;
			}

			.enter-link {
				margin: 0 51px 0 0;
			}

			.header-phone {
				margin: 0 0 0 5px;
			}

			.menu-site {
				width: 583px;
				@include justify-content (space-between);
			}

			.list-categories {
				margin: 0 0 0 10px;
			}

			.gamburger-menu {
				margin: 0 10px 0 0;
			}
		}

	@media screen and (min-width: 1000px) {
			.header-phone-bold {
				font-size: 34px;
				letter-spacing: -0.45px;
			}

			.search {
				width: 320px;
				margin: 17px 0 0;
			}

			.consultant {
				width: 87px;
				height: 88px;
				margin: 0 0 0 95px;
				border: 1px solid #6cbe68;
				border-radius: 5px;
				display: inline-block;
			}

			.bearded-man {
				position: static;
				z-index: 1;
				width: 89px;
				height: 62px;
				margin: -6px 0 0 1px;
			}

			.text-help {
				width: 53px;
				height: 24px;
				text-shadow: 0 1px 0 #ffffff;
				color: #333333;
				font-weight: 900;
				font-size: 13px;
			}

			.enter-link {
				display: none;
			}

			.enter-link-constant {
				vertical-align: text-top;
				font-size: $fs_13;
				border-bottom: 1px dashed $key_clr;
				color: $key_clr;
				display: inline-block;
			}

			.sale-menu {
				width: 209px;
				height: 56px;
				margin: 8px auto 0;
				border: 1px solid #cecdcd;
				border-radius: 5px;
				@include flexbox;
				@include justify-content(center);
				@include align-items(center);
			}

			.basket {
				border: 0;
				font-size: 23px;
				font-style: italic;
				font-weight: 700;
				border-bottom: 1px dashed $key_clr;
				color: $key_clr;
			}
	}
}