.header {
	margin: 15px auto 0;
	text-align: center;

	.wrapper-call-search {
		margin: 0 0 0 40px;
		vertical-align: top;
		display: inline-block;
	}

	.header-phone {
		margin: 0 0 0 5px;
		font-size: $fs_18;
		font-style: italic;
	}

	.call-back {
		margin: 0 0 0 15px;
		font-size: $fs_13;
		font-style: italic;
		border-bottom: 1px dashed $key_clr;
		vertical-align: text-top;
		color: $key_clr;
	}

	.search {
		position: relative;
		margin: 15px 0 0;
		text-align: left;
	}

	.search-text {
		width: 240px;
		height: 25px;
		border: 2px solid $border_clr;
		border-radius: 5px;
		transform: skew(-20deg);
	}

	.search-button  {
		position: absolute;
		top: 2px;
		left: 192px;
		width: 45px;
		height: 20px;
		border: 1px solid $border_clr;
		border-radius: 5px;
		font-size: 22px;
		text-align: center;
		line-height: 20px;
		background: #efefef;
		cursor: pointer;
		display: inline-block;
		transform: skew(-20deg);
	}

	.user-block {
		margin: 0 0 0 35px;
		vertical-align: top;
		display: inline-block;
	}

	.enter {
		text-align: left;
	}

	.enter-link {
		vertical-align: text-top;
		font-size: $fs_13;
		border-bottom: 1px dashed $key_clr;
		color: $key_clr;
	}

	.icon-user {
		margin: 0 0 0 15px;
	}

	.sale-menu {
		width: 116px;
		height: 33px;
		margin: 8px 0 0;
		border: 1px solid $border_clr;
		border-radius: 5px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.basket {
		border: 0;
		font-size: $fs_13;
		font-style: italic;
		font-weight: 700;
		border-bottom: 1px dashed $key_clr;
		color: $key_clr;
	}

	.wrapper-menu-site {
		padding: 0 8px 0
	}

	.menu-site {
		height: 35px;
		margin: 12px 0 0;
		width: 583px;
		border-radius: 5px;
		display: inline-block;
		background: $key_clr;
	}

	.categories {
		float: left;
		width: 300px;
		height: 25px;
		margin: 5px 0 0 15px;
		border: 1px solid $dark;
		font-size: $fs_18;
		font-weight: 700;
	}

	.gamburger-menu {
		float: right;
		width: 25px;
		height: 25px;
		margin: 5px 15px 0 0;
		padding: 4px 3px;
		border: 1px solid $dark;
		border-radius: 5px;
		background: #fff;
		display: flex;
		flex-flow: column;
		justify-content: space-between;
		align-items: center;
		cursor: pointer;
	}

	.line-gamburger {
		width: 15px;
		height: 3px;
		background: $border_clr;
	}
}