.promo {
	position: relative;
	max-width: 585px;
	margin: 10px auto 0;
	text-align: center;

	.block-promo {
		width: 580px;
		height: 248px;
		padding: 15px 40px 0;
		text-align: left;
		background: url("img/pc.png") no-repeat;
		display: inline-block;
	}

	.title-promo {
		width: 395px;
		font-size: 30px;
		letter-spacing: -2px;
		font-family: Century Gothic;
		display: inline-block;
		color: #6640c7;
	}

	.content-promos {
		width: 274px;
		margin: 4px 0 0;
		font-size: 15px;
		line-height: 22px;
		font-family: Century Gothic;
		display: inline-block;
	}

	.gallery-decisions {
		margin: 12px 0 0;
		display: inline-block;
		text-align: center;
		cursor: pointer;
	}

	.batton-gallery-decisions {
		width: 276px;
		height: 46px;
		background: url("img/batton-gradient.png") no-repeat;
		font-family: "Century Gothic";
		font-size: 18px;
		font-weight: 700;
		line-height: 43px;
		color: #ffffff;
		display: inline-block;
	}

	.wrapper-list-nomber-promo {
		position: absolute;
		top: 235px;
		left: 8px;
		text-align: left;
	}

	.list-nomber-promo {
		width: 112px;
		@include flexbox;
		@include justify-content(space-evenly);
		@include align-items(center);
	}

	.nomber-promo {
		width: 20px;
		height: 26px;
		border-radius: 5px;
		text-align: center;
		font-size: 13px;
		text-shadow: 0 1px 0 rgba(5, 6, 6, 0.3);
		background: #689cbe;
		line-height: 25px;
		color: #fff;
		display: inline-block;
	}

	.nomber-promo-align {
		margin: 2px 0 0;
		display: inline-block;
	}

	.is-active {
		width: 20px;
		height: 26px;
		border: 2px solid #689cbe;
		border-top: 0;
		border-radius: 0 0 5px 5px;
		text-align: center;
		font-size: 13px;
		text-shadow: 0 1px 0 #ffffff;
		background: #fff;
		line-height: 25px;
		color: $red;
		display: inline-block;
	}
}