.propositions {
	width: 577px;
	margin: 35px auto 0;
	border-radius: 5px;

	.wrapper-tab-propositions {
		background: #fff;
		display: inline-block;
	}

	.border-tab-propositions {
		position: relative;
		border-left: 1px solid $key_clr;
		border-top: 1px solid $key_clr;
		border-right: 1px solid $key_clr;
		border-radius: 5px 5px 0 0;
	}

	.tab-propositions-active {
		width: 267px;
		height: 56px;
		background-color: #ffffff;
		background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, #b9b9b9 40%, #f5f4f4 95%, #ffffff 100%);
		opacity: 0.3;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.tab-content-active {
		position: absolute;
		top: 14px;
		left: 14px;
		font-size: 20px;
		font-style: italic;
		letter-spacing: -0.5px;
		color: #d10000;
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.77);
	}

	.tab-propositions {
		width: 267px;
		height: 56px;
		background-color: #ffffff;
		display: flex;
		justify-content: center;
		align-items: center;
		display: none;
	}

	.tab-content {
		font-size: 18px;
		font-style: italic;
		letter-spacing: -0.45px;
		color: #105a8f;
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.77);
		border-bottom: 1px dashed $key_clr;
		color: $key_clr;
	}

	.wrapper-product {
		height: 332px;
		margin: -4px 0 0 0;
		border: 1px solid $key_clr;
		border-radius: 0 5px 5px 5px;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
	}

	.product {
		display: flex;
		flex-flow: column;
	}

	.img-sticker-product {
		position: relative;
		width: 155px;
		height: 125px;
	}

	.gift {
		position: absolute;
		top: -15px;
		left: -10px;
	}

	.description-gift {
		width: 190px;
		margin: 5px 0 0;
		font-size: $fs_13;
		color: red;
		display: block;
	}

	.name-link-product {
		margin: 6px 0 0;
		font-size: $fs_13;
		text-decoration: underline;
		color: $key_clr;
		display: inline-block;
	}

	.price-list {
		width: 130px;
		height: 25px;
		margin: 10px 0 0;
		border: 2px solid $border_clr;
		border-radius: 5px;
		transform: skew(-20deg);
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: space-evenly;
	}

	.cash {
		font-weight: 700;
	}

	.basket-propositions {
		transform: skew(20deg);
	}

	.price-dollar {
		margin: 5px 0 0 15px;
		font-size: 14px;
		color: green;
	}
}
