.promo {
	position: relative;
	max-width: 585px;
	margin: 10px auto 0;
	text-align: center;

	.block-promo {
		width: 580px;
		height: 248px;
		padding: 15px 40px 0;
		text-align: left;
		background: url("img/pc.png") no-repeat;
		display: inline-block;
	}

	.title-promo {
		width: 395px;
		font-size: 30px;
		letter-spacing: -2px;
		font-family: Century Gothic;
		display: inline-block;
		color: #6640c7;
	}

	.content-promos {
		width: 274px;
		margin: 4px 0 0;
		font-size: 15px;
		line-height: 22px;
		font-family: Century Gothic;
		display: inline-block;
	}

	.wrapper-list-nomber-promo {
		position: absolute;
		top: 235px;
		left: 8px;
		text-align: left;
	}

	.list-nomber-promo {
		text-align: center;
		list-style: none;
		display: inline-block;
	}

	.nomber-promo {
		width: 18px;
		height: 24px;
		border-radius: 5px;
		font-size: 12px;
		background: $key_clr;
		line-height: 25px;
		color: #fff;
		display: inline-block;
	}
}