.promo {
	max-width: 585px;
	margin: 10px auto 0;
	text-align: center;

	.wrapper-block-promo {
		position: relative;
	    width: 380px;
	    margin: 0 auto;
	    display: block;
	}

	.image-block-promo {
		width: 375px;
	}

	.block-promo {
		position: absolute;
		top: 10px;
		left: 20px;
		width: 250px;
		text-align: left;
	}

	.title-promo {
		font-size: 20px;
		letter-spacing: -2px;
		font-family: Century Gothic;
		display: inline-block;
		color: #6640c7;
	}

	.content-promos {
		margin: 4px 0 0;
		font-size: 10px;
		line-height: 16px;
		font-family: Century Gothic;
		display: inline-block;
	}

	.gallery-decisions {
		margin: 8px 0 0;
		display: inline-block;
		text-align: center;
		cursor: pointer;
	}

	.batton-gallery-decisions {
		background: #6640c7;
    	border: 2px solid #689cbe;
   		padding: 2px;
		font-family: "Century Gothic";
		font-size: 14px;
		font-weight: 700;
		color: #ffffff;
		display: inline-block;
	}

	.wrapper-list-nomber-promo {
		margin: -20px 0 0 0;
		z-index: 2;
    	position: relative;
		display: inline-block;
	}

	.list-nomber-promo {
		width: 112px;
		@include flexbox;
		@include align-items(center);
	}

	.nomber-promo {
		width: 20px;
		height: 26px;
		margin: 0 2px 0 0px;
		border-radius: 5px;
		text-align: center;
		font-size: 13px;
		text-shadow: 0 1px 0 rgba(5, 6, 6, 0.3);
		background: #689cbe;
		line-height: 25px;
		color: #fff;
		display: inline-block;
	}

	.nomber-promo-align {
		margin: 2px 0 0;
		display: inline-block;
	}

	.image-big-block-promo {
		display: none;
	}

	.is-active {
		width: 20px;
		height: 26px;
		border: 2px solid #689cbe;
		border-top: 0;
		border-radius: 0 0 5px 5px;
		text-align: center;
		font-size: 13px;
		text-shadow: 0 1px 0 #ffffff;
		background: #fff;
		line-height: 25px;
		color: $red;
		display: inline-block;
	}

	@media screen and (min-width: 600px) {

		.wrapper-block-promo {
			width: 579px;
		    margin: 0;
		    display: inline-block;
		}

		.block-promo {
			width: 366px;
		}

		.title-promo {
			width: 366px;
			margin: 0 0 0 20px;
			font-size: 31px;
		}

		.content-promos {
			font-size: 17px;
			line-height: 21.97px;
			margin: 10px 0 0 20px;
		}

		.gallery-decisions {
			width: 276px;
	  		height: 46px;
			margin: 12px 0 0 20px;
		}

		.batton-gallery-decisions {
			width: 276px;
  			height: 46px;
			background: url("img/batton-gradient.png") no-repeat;
			line-height: 43px;
		}

		.image-block-promo {
			width: 579px;
		}

		.batton-gallery-decisions {
			border: 0;
			font-size: $fs_medium;
			letter-spacing: -0.1px;
		}

		.wrapper-list-nomber-promo {
			margin: -10px 0 0 8px;
    		display: block;
		}
	}

	@media screen and (min-width: 1000px) {
		margin: 30px 0 0;
		display: inline-block;
	}

	@media screen and (min-width: 1200px) {
		max-width: 778px;
		
		.wrapper-block-promo {
			width: 778px;
		}

		.image-block-promo {
			display: none;
		}

		.image-big-block-promo {
			display: block;
		}

		.block-promo {
			width: 330px;
		}

		.title-promo {
			margin: 0 0 0 10px;
		}

		.content-promos {
			margin: 10px 0 0 10px;
		}

		.gallery-decisions {
			margin: 12px 0 0 10px;
		}
	}
}