@font-face {
	font-family: Arial;
	src: local(Arial), url(fonts/Arial.woff);
	src: local(Arial), url(fonts/Arial.woff2);
}

@font-face {
	font-family: Arial-Bold;
	src: local(Arial-Bold), url(fonts/Arial-Bold.woff);
	src: local(Arial-Bold), url(fonts/Arial-Bold.woff2);
}

@font-face {
	font-family: Arial-Italic;
	src: local(Arial-Italic), url(fonts/Arial-Italic.woff);
	src: local(Arial-Italic), url(fonts/Arial-Italic.woff2);
}

@font-face {
	font-family: Arial-BoldItalic;
	src: local(Arial-BoldItalic), url(fonts/Arial-BoldItalic.woff);
	src: local(Arial-BoldItalic), url(fonts/Arial-BoldItalic.woff2);
}

@font-face {
	font-family: "Century Gothic";
	src: local("Century Gothic"), url(fonts/"Century Gothic.woff");
	src: local("Century Gothic"), url(fonts/"Century Gothic.woff2");
}

@font-face {
	font-family: Arial Black;
	src: local("Arial Black"), url(fonts/"Arial Black.woff");
	src: local("Arial Black"), url(fonts/"Arial Black.woff2");
}

@font-face {
	font-family: Arial-BoldMT;
	src: local("Arial-BoldMT"), url(fonts/"Arial-BoldMT.woff");
	src: local("Arial-BoldMT"), url(fonts/"Arial-BoldMT.woff2");
}

// color
$key_clr: #105a8f;
$border_clr: #d3d3d3;
$dark: #333;
$red: #d10000;

// margin-padding

// font-size
$fs_13: 13px;
$fs_18: 18px;

body,
.header {
	background: #fff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

p,
a,
div,
body,
button,
input {
	font-family: Arial, OpenSans, Georgia, Arial, Times New Roman;
	font-size: 13px;
	color: #333;
}

a {
	text-decoration: none;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.wrapper {
	width: 100%;
	min-width: 400px;
	margin: 0 auto;
}

.gamburger-menu {
	float: right;
	width: 28px;
	height: 23px;
	margin: 5px 15px 0 0;
	padding: 4px 3px;
	border: 1px solid $dark;
	border-radius: 5px;
	background: #fff;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}

.line-gamburger {
	width: 15px;
	height: 3px;
	background: $border_clr;
}

@media screen and (min-width: 1000px) {
	.gamburger-menu {
		display: none;
	}

	.promo-and-stock {
		width: 1000px;
		margin: 0 auto;
		display: block;
	}

	.wrapper-contacts-futer {
		width: 1000px;
		margin: 0 auto;
	}
}

@media screen and (min-width: 1200px) {
	.promo-and-stock {
		width: 1200px;
	}

	.wrapper-contacts-futer {
		width: 1200px;
	}
}