.stock {
	margin: 15px auto 0;
	width: 380px;

	.title-stock {
		font-size: 25px;
		font-weight: 900;
		font-style: italic;
		color: red;
	}

	.proposition-stock {
		margin: 20px 0 0;
		height: 50px;
		display: flex;
		@include align-items(center);
	}

	.icon-proposition-kaspersky {
		margin: 0 32px 0 0;
		flex-basis: 37px;

	}

	.icon-proposition-abbyy {
		margin: 0 20px 0 0;
		flex-basis: 49px;
	}

	.icon-proposition-microsoft {
		margin: 0 18px 0 0;
		flex-basis: 51px;
	}


	.text-proposition {
		line-height: 20px;
		display: inline-block;
	}

	.link-proposition {
		color: $key_clr;
		border-bottom: 1px solid $key_clr;
		transition: color .4s linear;

		&:hover {
			color: #6640c7;
			border-bottom: 1px solid #6640c7;
		}
	}

	.button-stock {
		width: 122px;
		height: 27px;
		margin: 25px auto 0;
		border: 1px solid $border_clr;
		border-radius: 5px;
		cursor: pointer;
		background: #fff;
		background-image: linear-gradient(to top, #ffffff 0%, #eceded 37%, #ffffff 100%);
		transform: skew(-20deg);
		@include flexbox;
		@include align-items(center);
	}

	.all-stock {
		margin: 0 0 3px 10px;
		border-bottom: 2px solid $key_clr;
		font-size: 15px;
		font-weight: 700;
		text-shadow: 0 1px 0 #ffffff;
		color: $key_clr;
		display: inline-block;
		transform: skew(20deg);
	}

	.all-stock-run {
		margin: 0 0 0 7px;
		transform: skew(20deg);
	}

	@media screen and (min-width: 600px) {
		width: 580px;
		margin: 50px auto 0;

		.button-stock {
			margin: 25px 0 0;
		}
	}

	@media screen and (min-width: 1000px) {
		width: 330px;
		margin: 27px 0 0 20px;
		vertical-align: top;
		display: inline-block;

		.proposition-stock {
			margin: 8px 0 0;
		}

		.text-proposition {
			width: 256px;
		}
	}
}