@font-face {
  font-family: Arial;
  src: local(Arial), url(fonts/Arial.woff);
  src: local(Arial), url(fonts/Arial.woff2); }
@font-face {
  font-family: Arial-Bold;
  src: local(Arial-Bold), url(fonts/Arial-Bold.woff);
  src: local(Arial-Bold), url(fonts/Arial-Bold.woff2); }
@font-face {
  font-family: Arial-Italic;
  src: local(Arial-Italic), url(fonts/Arial-Italic.woff);
  src: local(Arial-Italic), url(fonts/Arial-Italic.woff2); }
@font-face {
  font-family: Arial-BoldItalic;
  src: local(Arial-BoldItalic), url(fonts/Arial-BoldItalic.woff);
  src: local(Arial-BoldItalic), url(fonts/Arial-BoldItalic.woff2); }
@font-face {
  font-family: "Century Gothic";
  src: local("Century Gothic"), url(fonts/"Century Gothic.woff");
  src: local("Century Gothic"), url(fonts/"Century Gothic.woff2"); }
@font-face {
  font-family: Arial Black;
  src: local("Arial Black"), url(fonts/"Arial Black.woff");
  src: local("Arial Black"), url(fonts/"Arial Black.woff2"); }
body,
.header {
  background: #fff; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

p,
a,
div,
body,
button,
input {
  font-family: Arial, OpenSans, Georgia, Arial, Times New Roman;
  font-size: 13px;
  color: #333; }

a {
  text-decoration: none; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.wrapper {
  width: 100%;
  min-width: 400px;
  margin: 0 auto;
  padding: 0 10px 0; }

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

.header {
  margin: 15px auto 0;
  text-align: center; }
  .header .logo {
    margin: 0 auto;
    display: block; }
  .header .wrapper-call-search {
    margin: 10px 0 0;
    vertical-align: top;
    display: inline-block; }
  .header .header-phone {
    margin: 0 0 0 5px;
    font-size: 18px;
    font-style: italic; }
  .header .call-back {
    margin: 0 0 0 15px;
    font-size: 13px;
    font-style: italic;
    border-bottom: 1px dashed #105a8f;
    vertical-align: text-top;
    color: #105a8f; }
  .header .search {
    width: 240px;
    height: 25px;
    padding: 0 2px 0 10px;
    border: 1px solid #d3d3d3;
    border-radius: 5px 2px 5px 2px;
    transform: skew(-20deg);
    margin: 15px auto 0;
    text-align: left; }
  .header .form-search {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header .search-text {
    width: 100%;
    border: 0;
    display: inline-block; }
  .header .search-button {
    width: 45px;
    height: 19px;
    border: 1px solid #d3d3d3;
    border-radius: 5px 2px 5px 2px;
    font-size: 22px;
    text-align: center;
    line-height: 20px;
    background: #efefef;
    cursor: pointer;
    display: inline-block; }
  .header .img-search-button {
    margin: 0 0 2px 0;
    transform: skew(20deg); }
  .header .consultant {
    display: none; }
  .header .enter {
    margin: 10px 0 0; }
  .header .enter-link {
    vertical-align: text-top;
    font-size: 13px;
    border-bottom: 1px dashed #105a8f;
    color: #105a8f; }
  .header .enter-link-constant {
    display: none; }
  .header .sale-menu {
    width: 116px;
    height: 33px;
    margin: 8px auto 0;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center; }
  .header .basket {
    border: 0;
    font-size: 13px;
    font-style: italic;
    font-weight: 700;
    border-bottom: 1px dashed #105a8f;
    color: #105a8f; }
  .header .divisions {
    display: none; }
  .header .menu-site {
    width: 390px;
    height: 35px;
    margin: 12px auto 0;
    border-radius: 5px;
    background: #105a8f;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    -webkit-justify-content: space-evenly;
    -moz-justify-content: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center; }
  .header .categories {
    width: 300px;
    height: 25px;
    border: 1px solid #333;
    font-size: 18px;
    font-weight: 700; }
  .header .gamburger-menu {
    width: 28px;
    height: 23px;
    padding: 4px 3px;
    border: 1px solid #333;
    border-radius: 5px;
    background: #fff;
    -webkit-flex-flow: column;
    -moz-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    cursor: pointer; }
  .header .line-gamburger {
    width: 15px;
    height: 3px;
    background: #d3d3d3; }
  .header .all-stock-run {
    width: 19px;
    height: 11px;
    display: inline-block;
    transform: skew(20deg); }
  @media screen and (min-width: 600px) {
    .header {
      width: 100%;
      display: inline-block; }
      .header .logo {
        display: inline-block; }
      .header .wrapper-call-search {
        margin: 10px 0 0 38px; }
      .header .search {
        margin: 15px 0; }
      .header .user-block {
        margin: 0 0 0 37px;
        display: inline-block; }
      .header .enter-link {
        margin: 0 51px 0 0; }
      .header .header-phone {
        margin: 0 0 0 5px; }
      .header .menu-site {
        width: 583px;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        justify-content: space-between; }
      .header .list-categories {
        margin: 0 0 0 10px; }
      .header .gamburger-menu {
        margin: 0 10px 0 0; } }
  @media screen and (min-width: 1000px) {
    .header .header-phone-bold {
      font-size: 34px;
      letter-spacing: -0.45px; }
    .header .search {
      width: 320px;
      margin: 17px 0 0; }
    .header .consultant {
      width: 87px;
      height: 88px;
      margin: 0 0 0 95px;
      border: 1px solid #6cbe68;
      border-radius: 5px;
      display: inline-block; }
    .header .bearded-man {
      position: static;
      z-index: 1;
      width: 89px;
      height: 62px;
      margin: -6px 0 0 1px; }
    .header .text-help {
      width: 53px;
      height: 24px;
      text-shadow: 0 1px 0 #ffffff;
      color: #333333;
      font-weight: 900;
      font-size: 13px; }
    .header .enter-link {
      display: none; }
    .header .enter-link-constant {
      vertical-align: text-top;
      font-size: 13px;
      border-bottom: 1px dashed #105a8f;
      color: #105a8f;
      display: inline-block; }
    .header .sale-menu {
      width: 209px;
      height: 56px;
      margin: 8px auto 0;
      border: 1px solid #cecdcd;
      border-radius: 5px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      align-items: center; }
    .header .basket {
      border: 0;
      font-size: 23px;
      font-style: italic;
      font-weight: 700;
      border-bottom: 1px dashed #105a8f;
      color: #105a8f; } }

.stock {
  margin: 15px auto 0;
  width: 380px; }
  .stock .title-stock {
    font-size: 25px;
    font-weight: 900;
    font-style: italic;
    color: red; }
  .stock .proposition-stock {
    margin: 20px 0 0;
    height: 50px;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center; }
  .stock .icon-proposition-kaspersky {
    margin: 0 32px 0 0; }
  .stock .icon-proposition-abbyy {
    margin: 0 20px 0 0; }
  .stock .icon-proposition-microsoft {
    margin: 0 18px 0 0; }
  .stock .text-proposition {
    line-height: 20px;
    display: inline-block; }
  .stock .link-proposition {
    color: #105a8f;
    border-bottom: 1px solid #105a8f;
    transition: color .4s linear; }
    .stock .link-proposition:hover {
      color: #6640c7;
      border-bottom: 1px solid #6640c7; }
  .stock .button-stock {
    width: 122px;
    height: 27px;
    margin: 25px auto 0;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    cursor: pointer;
    background: #fff;
    background-image: linear-gradient(to top, #ffffff 0%, #eceded 37%, #ffffff 100%);
    transform: skew(-20deg);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    -webkit-justify-content: space-evenly;
    -moz-justify-content: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center; }
  .stock .all-stock {
    margin: 0 0 3px 0;
    border-bottom: 2px solid #105a8f;
    font-size: 15px;
    font-weight: 700;
    text-shadow: 0 1px 0 #ffffff;
    color: #105a8f;
    display: inline-block;
    transform: skew(20deg); }
  .stock .all-stock-run {
    transform: skew(20deg); }
  @media screen and (min-width: 600px) {
    .stock {
      width: 580px;
      margin: 50px auto 0; }
      .stock .button-stock {
        margin: 25px 0 0; } }

.promo {
  max-width: 585px;
  margin: 10px auto 0;
  text-align: center; }
  .promo .wrapper-block-promo {
    position: relative;
    width: 380px;
    margin: 0 auto;
    display: block; }
  .promo .image-block-promo {
    width: 375px; }
  .promo .block-promo {
    position: absolute;
    top: 10px;
    left: 20px;
    width: 250px;
    text-align: left; }
  .promo .title-promo {
    font-size: 20px;
    letter-spacing: -2px;
    font-family: Century Gothic;
    display: inline-block;
    color: #6640c7; }
  .promo .content-promos {
    margin: 4px 0 0;
    font-size: 10px;
    line-height: 16px;
    font-family: Century Gothic;
    display: inline-block; }
  .promo .gallery-decisions {
    margin: 8px 0 0;
    display: inline-block;
    text-align: center;
    cursor: pointer; }
  .promo .batton-gallery-decisions {
    background: #6640c7;
    border: 2px solid #689cbe;
    padding: 2px;
    font-family: "Century Gothic";
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    display: inline-block; }
  .promo .wrapper-list-nomber-promo {
    margin: -20px 0 0 0;
    z-index: 2;
    position: relative;
    display: inline-block; }
  .promo .list-nomber-promo {
    width: 112px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    -webkit-justify-content: space-evenly;
    -moz-justify-content: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center; }
  .promo .nomber-promo {
    width: 20px;
    height: 26px;
    border-radius: 5px;
    text-align: center;
    font-size: 13px;
    text-shadow: 0 1px 0 rgba(5, 6, 6, 0.3);
    background: #689cbe;
    line-height: 25px;
    color: #fff;
    display: inline-block; }
  .promo .nomber-promo-align {
    margin: 2px 0 0;
    display: inline-block; }
  .promo .is-active {
    width: 20px;
    height: 26px;
    border: 2px solid #689cbe;
    border-top: 0;
    border-radius: 0 0 5px 5px;
    text-align: center;
    font-size: 13px;
    text-shadow: 0 1px 0 #ffffff;
    background: #fff;
    line-height: 25px;
    color: #d10000;
    display: inline-block; }
  @media screen and (min-width: 600px) {
    .promo .wrapper-block-promo {
      width: 579px;
      margin: 0;
      display: inline-block; }
    .promo .block-promo {
      width: 366px; }
    .promo .title-promo {
      width: 366px;
      margin: 0 0 0 20px;
      font-size: 31px; }
    .promo .content-promos {
      font-size: 17px;
      line-height: 21.97px;
      margin: 10px 0 0 20px; }
    .promo .gallery-decisions {
      width: 276px;
      height: 46px;
      margin: 12px 0 0 20px; }
    .promo .batton-gallery-decisions {
      width: 276px;
      height: 46px;
      background: url("img/batton-gradient.png") no-repeat;
      line-height: 43px; }
    .promo .image-block-promo {
      width: 579px; }
    .promo .batton-gallery-decisions {
      border: 0;
      font-size: 18px;
      letter-spacing: -0.1px; }
    .promo .wrapper-list-nomber-promo {
      margin: -10px 0 0 8px;
      display: block; } }

.propositions {
  max-width: 390px;
  margin: 35px auto 0;
  border-radius: 5px; }
  .propositions .wrapper-tab-propositions {
    background: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex; }
  .propositions .tab-propositions {
    position: relative;
    width: 267px;
    height: 56px;
    border-radius: 5px 5px 0 0;
    display: none;
    background: #fff; }
    .propositions .tab-propositions:first-of-type {
      display: block; }
    .propositions .tab-propositions.is-active {
      border: 1px solid #105a8f;
      border-bottom: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      align-items: center; }
      .propositions .tab-propositions.is-active .tab-gradient,
      .propositions .tab-propositions.is-active .tab-empty-block {
        display: block; }
      .propositions .tab-propositions.is-active .tab-content {
        color: #d10000;
        border: 0; }
  .propositions .tab-empty-block {
    position: absolute;
    top: 2px;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background: #fff; }
  .propositions .tab-gradient {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #fff;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, #b9b9b9 40%, #f5f4f4 95%, #ffffff 100%);
    opacity: .3;
    display: none; }
  .propositions .tab-content {
    position: relative;
    z-index: 2;
    font-family: Arial Black;
    font-size: 20px;
    font-style: italic;
    letter-spacing: -0.45px;
    color: #105a8f;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.77);
    border-bottom: 1px dashed #105a8f;
    color: #105a8f; }
  .propositions .gamburger-menu {
    position: relative;
    z-index: 3;
    margin: 0 0 0 15px; }
  .propositions .wrapper-product {
    height: 332px;
    border: 1px solid #105a8f;
    border-radius: 0 5px 5px 5px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    -webkit-justify-content: space-evenly;
    -moz-justify-content: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center; }
  .propositions .product {
    width: 45%;
    display: flex;
    flex-flow: column; }
  .propositions .img-sticker-product {
    position: relative;
    width: 155px;
    height: 125px; }
  .propositions .gift {
    position: absolute;
    top: -15px;
    left: -10px; }
  .propositions .gift-text {
    position: absolute;
    top: -2px;
    left: -10px;
    text-shadow: 0 -1px 0 rgba(5, 6, 6, 0.5);
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    font-style: italic;
    transform: rotate(-15deg); }
  .propositions .description-gift {
    margin: 5px 0 0;
    font-size: 13px;
    color: #d10000;
    display: block; }
  .propositions .name-link-product {
    margin: 6px 0 0;
    font-size: 13px;
    text-decoration: underline;
    color: #105a8f;
    display: inline-block; }
  .propositions .price-list {
    width: 133px;
    height: 27px;
    margin: 10px 0 0;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    background-image: linear-gradient(to top, #ffffff 0%, #eceded 37%, #ffffff 100%);
    transform: skew(-20deg);
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    -webkit-justify-content: space-evenly;
    -moz-justify-content: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center; }
  .propositions .cash {
    font-size: 18px;
    font-family: Arial Black; }
  .propositions .cash-uan {
    font-size: 13px;
    font-weight: 700; }
  .propositions .basket-propositions {
    width: 17px;
    height: 18px;
    transform: skew(20deg); }
  .propositions .price-dollar {
    margin: 5px 0 0 15px;
    font-size: 11px;
    color: #5c9559; }
  @media screen and (min-width: 600px) {
    .propositions {
      max-width: 577px; }
      .propositions .wrapper-product {
        -webkit-box-pack: safe;
        -ms-flex-pack: safe;
        -webkit-justify-content: safe;
        -moz-justify-content: safe;
        justify-content: safe; }
      .propositions .product {
        width: 189px; }
      .propositions .description-gift {
        width: 190px; } }
  @media screen and (min-width: 1000px) {
    .propositions .tab-propositions {
      display: block; } }

.brand {
  max-width: 390px;
  margin: 45px auto 0;
  text-align: center; }
  .brand .solution {
    max-width: 272px;
    margin: 0 auto;
    font-size: 15px;
    font-style: italic;
    font-weight: 700;
    display: block; }
  .brand .button-all-brand {
    width: 200px;
    height: 25px;
    margin: 10px auto 0;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    transform: skew(-20deg);
    cursor: pointer;
    background-image: linear-gradient(to top, #ffffff 0%, #eceded 37%, #ffffff 100%);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    -webkit-justify-content: space-evenly;
    -moz-justify-content: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center; }
  .brand .all-brand {
    border-bottom: 2px solid #105a8f;
    margin: 0 0 3px 0;
    text-shadow: 0 1px 0 #ffffff;
    color: #105a8f;
    font-size: 15px;
    font-weight: 700;
    display: inline-block;
    transform: skew(20deg); }
  .brand .all-stock-run {
    transform: skew(20deg); }
  .brand .table-brand {
    max-width: 300px;
    margin: 5px auto 0;
    display: block; }
  .brand .block-name-brand {
    width: 289px;
    height: 128px;
    background: url("img/line-grey.png") repeat;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-flex-flow: wrap;
    -moz-flex-flow: wrap;
    -ms-flex-flow: wrap;
    flex-flow: wrap; }
  .brand .wrapper-name-brand {
    width: 144px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center; }
  .brand .wrapper-list-link-brand {
    width: 100%;
    margin: 25px 0 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between; }
  .brand .list-link-brand {
    width: 100%;
    list-style-type: none; }
  .brand .wrapper-link-brand {
    width: 45%;
    display: inline-block; }
  .brand .link-brand {
    margin: 10px 0 0;
    font-size: 15px;
    text-transform: uppercase;
    color: #105a8f;
    border-bottom: 1px solid #105a8f;
    display: inline-block; }
  @media screen and (min-width: 600px) {
    .brand {
      max-width: 585px; }
      .brand .solution {
        float: left; }
      .brand .button-all-brand {
        float: right;
        margin: 5px 0 0; }
      .brand .table-brand {
        max-width: 585px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        justify-content: center;
        -webkit-flex-flow: wrap;
        -moz-flex-flow: wrap;
        -ms-flex-flow: wrap;
        flex-flow: wrap; }
      .brand .block-name-brand:nth-child(even) {
        border-left: 1px solid;
        border-image: linear-gradient(rgba(0, 0, 0, 0), grey, rgba(0, 0, 0, 0)) 1 10%; }
      .brand .list-link-brand {
        width: 100%;
        list-style-type: none;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        -webkit-justify-content: space-around;
        -moz-justify-content: space-around;
        justify-content: space-around;
        -webkit-flex-flow: wrap;
        -moz-flex-flow: wrap;
        -ms-flex-flow: wrap;
        flex-flow: wrap; }
      .brand .wrapper-link-brand {
        width: 23%; }
      .brand .list-link-brand {
        text-align: left; } }

.contacts {
  max-width: 390px;
  margin: 23px auto 0;
  padding: 0 0 30px;
  border-bottom: 1px solid grey;
  text-align: center; }
  .contacts .copyrite {
    display: block; }
  .contacts .link-divisions {
    margin: 8px 10px 0 0;
    font-size: 15px;
    color: #105a8f;
    border-bottom: 1px solid #105a8f;
    display: inline-block; }
  .contacts .wrapper-call-back-conditions {
    margin: 24px 0 0; }
  .contacts .address {
    margin: 10px 0 0;
    font-size: 13px; }
  .contacts .call-back-phone {
    margin: 10px 0 0;
    font-size: 24px;
    font-weight: 700;
    display: inline-block; }
  .contacts .wrapper-form-feedback-conditions {
    width: 49%;
    display: inline-block; }
  .contacts .wrapper-link-feedback {
    margin: 10px auto;
    display: block; }
  .contacts .link-feedback {
    font-size: 13px;
    font-weight: 500;
    color: #105a8f;
    border-bottom: 1px dashed #105a8f;
    display: inline-block; }
  .contacts .wrapper-form-feedback-conditions {
    width: 185px;
    margin: 10px auto 0;
    vertical-align: top;
    display: block; }
  .contacts .form-feedback-bottom {
    width: 167px;
    height: 27px;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    transform: skew(-20deg);
    cursor: pointer;
    background-image: linear-gradient(to top, #ffffff 0%, #eceded 37%, #ffffff 100%);
    display: inline-block; }
  .contacts .form-feedback {
    border-bottom: 1px dashed #105a8f;
    text-shadow: 0 1px 0 #ffffff;
    color: #105a8f;
    font-size: 13px;
    display: inline-block;
    transform: skew(20deg); }
  .contacts .conditions {
    margin: 16px 0 0;
    text-decoration: underline;
    display: inline-block; }
  .contacts .wrapper-time-payment {
    margin: 31px 0 0; }
  .contacts .work-time {
    width: 190px;
    display: inline-block; }
  .contacts .day-time-bold {
    font-weight: 700; }
  .contacts .day-time {
    margin: 7px 0 0;
    display: inline-block; }
  .contacts .payment {
    width: 220px;
    margin: 20px 0 0;
    vertical-align: super;
    display: inline-block; }
  .contacts .title-payment {
    display: inline-block; }
  .contacts .icon-payment {
    margin: 8px 0 0;
    display: inline-block; }
  .contacts .wrapper-social {
    margin: 49px 0 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex; }
  .contacts .icon-social-name-social {
    margin: 0 0 0 39px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center; }
    .contacts .icon-social-name-social:nth-child(1) {
      margin: 0; }
  .contacts .name-social {
    margin: 0 0 0 3px;
    color: #105a8f;
    text-decoration: underline; }
  @media screen and (min-width: 600px) {
    .contacts {
      max-width: 585px;
      text-align: left; }
      .contacts .wrapper-call-back-conditions {
        margin: 11px 0 0 0; }
      .contacts .wrapper-link-feedback {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex; }
      .contacts .wrapper-form-feedback-conditions {
        margin: 10px 0 0 91px;
        display: inline-block; }
      .contacts .call-back-phone {
        margin: 0; }
      .contacts .form-feedback-bottom {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        -webkit-justify-content: space-evenly;
        -moz-justify-content: space-evenly;
        justify-content: space-evenly;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        align-items: center; }
      .contacts .payment {
        margin: 0 0 0 80px; } }

.articles {
  max-width: 390px;
  margin: 44px auto 0;
  border-top: 1px solid grey;
  text-align: center; }
  .articles .wrapper-title-all-articles {
    margin: 45px 0 0; }
  .articles .title-articles {
    font-size: 20px;
    font-style: italic;
    font-family: Arial Black;
    letter-spacing: -0.5px; }
  .articles .all-articles-button {
    width: 235px;
    height: 27px;
    margin: 5px auto 0;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    transform: skew(-20deg);
    cursor: pointer;
    background-image: linear-gradient(to top, #ffffff 0%, #eceded 37%, #ffffff 100%);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    -webkit-justify-content: space-evenly;
    -moz-justify-content: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center; }
  .articles .all-brand {
    border-bottom: 2px solid #105a8f;
    margin: 0 0 3px 0;
    text-shadow: 0 1px 0 #ffffff;
    color: #105a8f;
    font-size: 15px;
    font-weight: 700;
    display: inline-block;
    transform: skew(20deg); }
  .articles .all-stock-run {
    transform: skew(20deg); }
  .articles .wrapper-news {
    width: 100%;
    margin: 0 auto;
    padding: 0 0 71px;
    border-bottom: 4px solid #175b8e; }
  .articles .news {
    margin: 28px 0 0;
    display: flex;
    align-items: center; }
  .articles .img-news {
    display: inline-block; }
  .articles .content-news {
    max-width: 377px;
    margin: 0 0 0 26px;
    text-align: left;
    display: inline-block; }
  .articles .title-news {
    margin: 10px 0 0;
    font-size: 15px;
    color: #105a8f;
    border-bottom: 1px solid #105a8f;
    display: inline-block; }
  .articles .preview-content {
    margin: 14px 0 0;
    line-height: 20px;
    display: inline-block; }
  @media screen and (min-width: 600px) {
    .articles {
      max-width: 577px; }
      .articles .title-articles {
        float: left; }
      .articles .all-articles-button {
        float: right; } }

.futer {
  margin: 30px 0 0;
  text-align: center; }
  .futer .logo-owox {
    margin: 2px 0 0;
    vertical-align: top; }
  .futer .about-developer {
    width: 193px;
    margin: 0 0 0 4px;
    font-size: 11px;
    line-height: 15px;
    text-align: left;
    display: inline-block; }
  .futer .link-developer {
    font-size: 11px;
    line-height: 15px;
    color: #0066aa;
    text-decoration: underline; }
  .futer .year {
    font-size: 11px;
    color: #999;
    display: inline-block; }

/*# sourceMappingURL=style.css.map */
