.contacts {
	padding: 10px;
	text-align: center;
	background: $key_color_wihte;

	.content-contacts {
		width: 100%;
		margin: $margin_top_mobile;
		font-size: 16px;
		font-style: italic;
	}

	.message {
		margin: $margin_top_mobile;
	}

	.requisites {
		width: 100%;
		max-width: 300px;
		height: 40px;
		border: 1px solid $key_color_fonts;
	}

	.text-message {
		width: 100%;
		max-width: 300px;
		// full version height 165px
		height: 80px;
		border: 1px solid $key_color_fonts;
	}

	.communications-submit {
		width: 165px;
		height: 40px;
		margin: $margin_top_mobile;
		border: 0;
		font-size: 16px;
		color: $key_color_wihte;
		text-transform: uppercase;
		background: $additional_color;
	}
}

.info-user {
		margin: $margin_top_mobile;
		font-size: 14px;

		.star {
			color: #db0000;
		}
	}