.contacts {
	padding: 10px;
	text-align: center;
	background: $key_color_wihte;

	.content-contacts {
		width: 100%;
		margin: $margin_top_mobile;
		font-size: 16px;
		font-style: italic;
	}

	.message {
		margin: $margin_top_mobile;
	}

	.requisites {
		width: 100%;
		max-width: 300px;
		height: 40px;
		border: 1px solid $key_color_fonts;
	}

	.text-message {
		width: 100%;
		max-width: 300px;
		// full version height 165px
		height: 80px;
		border: 1px solid $key_color_fonts;
	}

	.communications-submit {
		width: 165px;
		height: 40px;
		margin: $margin_top_mobile;
		border: 0;
		font-size: 16px;
		color: $key_color_wihte;
		text-transform: uppercase;
		background: $additional_color;
	}

	.info-user {
		margin: $margin_top_mobile;
		font-size: 14px;
	}

	.star {
			color: #db0000;
	}

	@media screen and (min-width: 768px) {
		.communications {
			width: 600px;
			margin: $margin_zero;
		}

		.wrapper-block-user-name {
			float: left;
			width: 49%;
		}

		.wrapper-block-user-email {
			float: right;
			width: 49%;
		}

		.message {
			clear: both;
		}

		.text-message {
			width: 100%;
			max-width: 100%;
			margin: $margin_zero;
		}
	}

	@media screen and (min-width: 992px) {
		padding: 100px 15px;

		.content-contacts {
			max-width: 750px;
			margin: 40px 0 0;
			font-size: 15px;
			display: inline-block;
		}

		.communications {
			width: 100%;
			max-width: 750px;
			margin: 100px auto 0;
			display: block;
		}

		.wrapper-block-user-name {
			float: left;
			width: 48%;
			text-align: left;

		}

		.wrapper-block-user-email {
			float: right;
			width: 48%;
			text-align: left;
		}

		.requisites {
			max-width: 100%;
		}

		.communications-submit {
			float: right;
			margin: 30px 0 0;
		}
	}
}