.futer {
	padding: 0 0 20px;
	text-align: center;

	.copyright {
		margin: $margin_top_mobile;
		font-size: 12px;
		text-transform: uppercase;
	}

	.copyright-bold {
		font-weight: 700;
	}

	.social {
		margin: $margin_top_mobile;
		display: inline-block;
	}

	.icon-social {
		margin: 0 15px 0 0;

		&:last-child {
			margin: 0;
		}
	}

	@media screen and (min-width: 768px) {
		padding: 20px;
		font-size: 0;

		.copyright {
			float: left;
			margin: 0;
			line-height: 33px;
		}

		.social {
			float: right;
			margin: 0;
		}
	}

	@media screen and (min-width: 992px) {
			max-width: 1160px;
			margin: $margin_zero;
			padding: 30px 10px;
	}
}