.futer {
	text-align: center;

	.copyright {
		margin: 10px 0 0;
		font-size: 12px;
		text-transform: uppercase;
	}

	.copyright-bold {
		font-weight: 700;
	}

	.social {
		margin: 10px 0 0;
		display: inline-block;
	}

	.icon-social {
		margin: 0 15px 0 0;
	}

	.icon-social:last-child {
		margin: 0;
		
	}
}