.header {
	width: 100%;
	padding: 15px 15px 15px;
	text-align: center;

	.agency-name {
		float: right;
		font-size: 24px;
		text-transform: uppercase;
		color: $key_color_fonts;
	}

	.hamburger-menu {
		float: left;
		width: 30px;
	}

	.line-hamburger {
		height: 3px;
		margin: 0 0 3px;
		border-radius: 3px;
		background: $additional_color;
	}

	.greeting-and-spirit8 {
		margin: 30px 0 0;
		display: inline-block;
	}

	.greeting {
		font-size: 25px;
		text-transform: uppercase;
		color: $key_color_fonts;
	}

	.greeting-spirit8 {
		font-size: $font_size_title;
		text-transform: uppercase;
		color: $additional_color;
	}

	.greeting-text {
		font-size: 13px;
		padding: 10px 0 0;
		color: $key_color_fonts;
		display: inline-block;
	}

	.pointer {
		position: relative;
		width: 50px;
		height: 50px;
		margin: 10px 0 0;
		border: 2px solid $key_color_fonts;
		border-radius: 50%;
		display: inline-block;
	}

	.arrow {
		position: absolute;
		left: 40%;
		top: 36%;
	}

}