.header {
	width: 100%;
	padding: $padding_blocks;
	text-align: center;

	.agency-name {
		float: right;
		font-size: 24px;
		text-transform: uppercase;
		color: $key_color_fonts;
	}

	.hamburger-menu {
		float: left;
		width: 30px;
	}

	.line-hamburger {
		height: 3px;
		margin: 0 0 3px;
		border-radius: 3px;
		background: $additional_color;
	}

	.menu {
		display: none;
	}

	.greeting-and-spirit8 {
		margin: 30px 0 0;
		display: inline-block;
	}

	.greeting {
		font-size: 25px;
		text-transform: uppercase;
		color: $key_color_fonts;
	}

	.greeting-spirit8 {
		font-size: $font_size_title;
		text-transform: uppercase;
		color: $additional_color;
	}

	.greeting-text {
		font-size: 13px;
		padding: $margin_top_mobile;
		color: $key_color_fonts;
		display: block;
	}

	.greeting-text-bold {
		font-weight: 700;
	}

	.pointer {
		position: relative;
		width: 50px;
		height: 50px;
		margin: $margin_top_mobile;
		border: 2px solid $key_color_fonts;
		border-radius: 50%;
		display: inline-block;
	}

	.arrow {
		position: absolute;
		left: 40%;
		top: 36%;
	}

@media screen and (min-width: 992px) {
		padding: 0 20px 90px;

		.container-navigation {
			max-width: 1160px;
			margin: $margin_zero;
			padding: 0 10px;
		}

		.agency-name {
			float: left;
			margin: 55px 0 0;
		}

		.hamburger-menu {
			display: none;
		}

		.menu {
			float: right;
			margin: 55px 0 0;
			display: inline-block;
		}

		.wrapper-paragraph {
			margin: 0 15px 0 0;
			display: inline-block;
			border-bottom: 3px solid $grey;
			padding: 0 10px 20px;
			transition: color .4s linear, border .4s linear;

			&:last-child {
				margin: 0;
			}

			&:hover {
				border-bottom: 3px solid $additional_color;
			}
		}

		.name-paragraph {
			width: 100%;
			font-size: 14px;
			text-transform: uppercase;
			color: $key_color_wihte;
		}

		.greeting-and-spirit8 {
			margin: 200px 0 0;
		}

		.greeting {
			font-size: $font_size_title_high;
		}

		.greeting-spirit8 {
			font-size: $font_size_title_high;
		}

		.greeting-text {
			font-size: $font_size_paragraph_high;
		}

		.pointer {
			margin: 280px 0 0;
		}
	}

}