.info {
	padding: 10px;
	text-align: center;
	background: $key_color_wihte;

	.tv {
		width: 100%;
		max-width: 506px;
		display: inline-block;
	}

	.tv-shadow {
		display: none;
	}

	.subject-text {
		padding: 10px 0 0;
		font-size: 25px;
		text-transform: uppercase;
		line-height: 40px;
		display: inline-block;
	}

	.line-long {
		width: 100px;
		height: 3px;
		margin: 10px auto 0;
		background: $additional_color;
	}

	.text-about-them {
		margin: 10px 0 0;
		font-size: 18px;
		line-height: 24px;
		text-transform: none;
		display: inline-block;
	}

	.list-skills,
	.skill {
		margin: $margin_top_mobile;
	}

	.empty-circle {
		width: 3px;
		height: 3px;
		padding: 3px;
		border-radius: 50%;
		box-shadow: 0 0 0 3px key_color_wihte, 0 0 0 5px $key_color_fonts;
		background: $key_color_fonts;
		display: inline-block;
	}

	.name-skill {
		margin: 0 0 0 10px;
		font-size: 18px;
		font-weight: 600;
		vertical-align: middle;
	}

	.description-skill {
		font-size: 16px;
		font-style: italic;
		vertical-align: middle;
	}

	.our-work {
		width: 190px;
		height: 45px;
		margin: 30px 0 0;
		text-align: center;
		border: 1px solid $key_color_fonts;
		border-radius: 3px;
		background: $key_color_wihte;
		display: inline-block;
	}

	.reference-example {
		font-size: 12px;
		margin: 0 0 0 10px;
		text-transform: uppercase;
		color: $key_color_dark;
		display: inline-block;
	}
}

@media screen and (min-width: 992px) {
	.info {
		width: 100%;
		margin: $margin_zero;
		padding: 100px 20px;
		text-align: left;
	}

	.info .tv {
		display: none;
	}

	.info .tv-shadow {
		width: 59%;
		display: inline-block;
	}

	.info .wrapper-info-content {
		width: 39%;
		display: inline-block;
	}

	.line-long {
		display: inline-block;
	}

	.skill {
		list-style: none;
	}

	.subject-text {
		font-size: $font_size_paragraph_high;
	}

	.text-about-them,
	.name-skill {
		font-size: $fs_18;
	}

	.description-skill {
		font-size: $fs_16;
	}
}