.info {
	padding: $padding_blocks;
	text-align: center;
	background: $key_color_wihte;

	.tv {
		width: 100%;
		max-width: 506px;
		display: inline-block;
	}

	.tv-shadow {
		display: none;
	}

	.subject-text {
		padding: $margin_top_mobile;
		font-size: 25px;
		text-transform: uppercase;
		line-height: 35px;
		display: inline-block;
	}

	.line-long {
		width: 100px;
		height: 3px;
		margin: $margin_center;
		background: $additional_color;
	}

	.text-about-them {
		margin: $margin_top_mobile;
		font-size: 18px;
		line-height: 24px;
		text-transform: none;
		display: inline-block;
	}

	.list-skills,
	.skill {
		margin: 21px 0 0;
		list-style: none;
	}

	.empty-circle {
		width: 3px;
		height: 3px;
		margin: 0 0 0 4px;
		padding: 3px;
		border-radius: 100%;
		box-shadow: 0 0 0 3px $key_color_wihte, 0 0 0 5px $key_color_fonts;
		background: $key_color_fonts;
		display: inline-block;
		vertical-align: middle;
	}

	.name-skill {
		margin: 0 0 0 15px;
		font-size: 18px;
		font-weight: 600;
		vertical-align: middle;
	}

	.description-skill {
		font-size: 16px;
		font-style: italic;
		vertical-align: middle;
	}

	.our-work {
		width: 190px;
		height: 45px;
		margin: 25px 0 0;
		text-align: center;
		border: 1px solid $key_color_fonts;
		border-radius: 3px;
		background: $key_color_wihte;
		cursor: pointer;
		display: inline-block;
	}

	.reference-example {
		font-size: 12px;
		margin: 0 0 0 10px;
		text-transform: uppercase;
		color: $key_color_dark;
		display: inline-block;
	}

	@media screen and (min-width: 992px) {
			width: 100%;
			margin: $margin_zero;
			padding: 100px 20px;
			font-size: 0;
			text-align: left;

			.tv {
				display: none;
			}

			.tv-shadow {
				width: 708/1140 * 100%;
				margin: 30px -10px -20px 0;
				display: inline-block;
				vertical-align: top;
			}

			.wrapper-info-content {
				width: 432/1140 * 100%;
				display: inline-block;
				vertical-align: top;
			}

			.line-long {
				display: inline-block;
			}

			.subject-text {
				font-size: $font_size_paragraph_high;
			}

			.title-normal-black {
				margin: 0 0 0 -2px;
				font-size: $font_size_title_medium;
			}

			.title-bold-black {
				font-size: $font_size_title_medium;
			}

			.text-about-them,
			.name-skill {
				font-size: $fs_18;
			}

			.description-skill {
				font-size: $fs_16;
			}
	}

	@media screen and (min-width: 1200px) {
			padding: 90px 0 5px;

			.wrapper-tv-content {
				margin: $margin_zero;
				max-width: 1140px;
			}

			.tv-shadow {
				margin: 8px -10px 0 0;
			}

			.wrapper-info-content {
				max-width: 417px;
			}

			.line-long {
				margin: 5px auto 0;
			}

			.subject-text {
				padding: 0;
			}

			.text-about-them {
				margin: 25px 0 0;
				font-size: $fs_16;
			}

			.list-skills {
				margin: 44px 0 0;
			}

			.our-work {
				margin: 45px 0 0;
			}
		}
}