.services {
	padding: 10px;
	text-align: center;
	background: $key_color_wihte;

	.line-long {
		width: 100px;
		height: 3px;
		margin: $margin_center;
		background: $additional_color;
	}

	.line-short {
		width: 65px;
		height: 3px;
		margin: $margin_center;
		opacity: 0.6;
		background: $additional_color
	}

	.text-services {
		padding: 10px 0 0;
		font-size: 14px;
		font-style: italic;
		display: inline-block;
	}

	.list-services {
		font-size: 0;
	}

	.wrapper-img-services {
		width: 115px;
		height: 115px;
		margin: $margin_center;
		border: 5px solid $additional_color;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.name-services {
		margin: $margin_top_mobile;
		font-size: 18px;
		font-weight: 600;
		text-transform: uppercase;
		color: $black_version;
	}

	.description-services {
		padding: 10px 0 0;
		font-size: 14px;
		display: inline-block;
	}

	@media screen and (min-width: 576px) {
		.wrapper-services {
			width: 45%;
			padding: 5px;
			display: inline-block;
			}
	}

	@media screen and (min-width: 992px) {
		padding: 100px 15px;

		.text-services {
			margin: 40px 0 0;
			}

		.list-services {
			margin: 85px 0 0;
			}

		.name-services {
			margin: 30px 0 0;
			}

		.description-services {
			width: 60%;
			margin: 20px 0 0;
			padding: 0;
			}
	}

	@media screen and (min-width: 1200px) {
		.text-services {
			max-width: 1140px;
			}

		.list-services {
			max-width: 1120px;
			margin: 85px auto 0;
			}

		.wrapper-services {
			width: 245/1120 * 100%;
			padding: 0;

			&:not(:last-of-type) {
				margin: 0 45px 0 0;
				}
			}

		.description-services {
				width: 100%;
		}
	}
}