.services {
	padding: 10px;
	text-align: center;
	background: $key_color_wihte;

	.line-long {
		width: 100px;
		height: 3px;
		margin: 10px auto 0;
		background: $additional_color;
	}

	.line-short {
		width: 65px;
		height: 3px;
		margin: 10px auto 0;
		opacity: 0.6;
		background: $additional_color
	}

	.text-services {
		padding: 10px 0 0;
		font-size: 14px;
		font-style: italic;
		display: inline-block;
	}

	.wrapper-img-services {
		width: 115px;
		height: 115px;
		margin: 10px auto 0;
		border: 5px solid $additional_color;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.name-services {
		margin: $margin_top_mobile;
		font-size: 18px;
		font-weight: 600;
		text-transform: uppercase;
		color: $black_version;
	}

	.description-services {
		padding: 10px 0 0;
		font-size: 14px;
		display: inline-block;
	}
}

@media screen and (min-width: 576px) {
	.wrapper-services {
		width: 45%;
		padding: 5px;
		display: inline-block;
	}
}