@font-face {
	font-family: OpenSans;
	src: local(OpenSans), url(fonts/OpenSans.woff);
	src: local(OpenSans-Regular), url(fonts/OpenSans-Regular.woff2);
}

@font-face {
	font-family: OpenSans-Bold;
	src: local(OpenSans-Bold), url(fonts/OpenSans-Bold.woff);
	src: local(OpenSans-Bold), url(fonts/OpenSans-Bold.woff2);
}

@font-face {
	font-family: OpenSans-Italic;
	src: local(OpenSans-Italic), url(fonts/OpenSans-Italic.woff);
	src: local(OpenSans-Italic), url(fonts/OpenSans-Italic.woff2);
}

@font-face {
	font-family: OpenSans-BoldItalic;
	src: local(OpenSans-BoldItalic), url(fonts/OpenSans-BoldItalic.woff);
	src: local(OpenSans-BoldItalic), url(fonts/OpenSans-BoldItalic.woff2);
}

// color
$key_color_wihte: #fff;
$key_color_dark: #070707;
$black_version: #222222;
$key_color_fonts: #999;
$additional_color: #fcac45;
$grey: #292929;

// margin-padding
$margin_top_mobile: 20px 0 0;
$margin_center: 20px auto 0;
$margin_zero: 0 auto;
$padding_blocks: 20px 20px 25px;

// font-size
$font_size_title: 25px;
$font_size_title_medium: 34px;
$font_size_title_high: 44px;
$fs_16: 16px;
$fs_18: 18px;
$font_size_paragraph_high: 20px;

body,
.header {
	background: $key_color_dark;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

p,
a,
div,
body,
button,
input {
	font-family: OpenSans, Georgia, Arial, Times New Roman;
	color: #999;
}

a {
	text-decoration: none;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.wrapper {
	width: 100%;
	min-width: 320px;
	margin: 0 auto;
}

// title styles
.title-normal {
	font-size: $font_size_title;
	text-transform: uppercase;
	color: $key_color_wihte;
}

.title-bold {
	font-size: $font_size_title;
	text-transform: uppercase;
	font-weight: 700;
	color: $key_color_wihte;
}

.title-normal-black {
	font-size: $font_size_title;
	text-transform: uppercase;
	color: $black_version;
}

.title-bold-black {
	font-size: $font_size_title;
	text-transform: uppercase;
	font-weight: 700;
	color: $black_version;
}

// line styles
.line-long {
	width: 100px;
	height: 3px;
	margin: 20px auto 0;
	background: $additional-color;
	display: block;
	}

.line-short {
	width: 65px;
	height: 3px;
	margin: 10px auto 0;
	opacity: 0.6;
	background: $additional-color;
	display: block;
	}

.squares {
	margin: 20px 0 0;
	font-size: 0;
	list-style-type: none;
	}

.squares-element {
	width: 9px;
	height: 9px;
	margin: 0 9px 0 0;
	background: $key_color_wihte;
	display: inline-block;
	}

.squares-element.is-active {
	background: $additional_color;
	display: inline-block;
	}

.squares-element:last-child {
	margin: 0;
	}

@media screen and (min-width: 992px) {

	.title-normal {
		font-size: $font_size_title_high;
	}

	.title-bold {
		font-size: $font_size_title_high;
	}

	.title-normal-black {
		font-size: $font_size_title_high;
	}

	.title-bold-black {
		font-size: $font_size_title_high;
	}

	.line-long {
		margin: 30px auto 0;
	}
}