.testimonials {
	padding: 10px;
	text-align: center;

	.testimonials-content {
		margin: $margin_top_mobile;
		font-size: 16px;
		text-transform: uppercase;
		color: $key_color_wihte;
	}

	.name-clients-bold {
		margin: $margin_top_mobile;
		font-size: 16px;
		font-weight: 700;
	}
	
	.name-clients {
		font-size: 16px;
	}

}