.about-photographer {
    .goncharenko {
        width: 100%;
        max-width: 352px;
        margin: 15px auto 0;
        padding: 0 10px 0;
        display: block;
    }
    .text-about-me {
        margin: 15px 0 0 0;
        padding: 0 10px 0;
    }
    @media screen and (min-width: 576px) {
        .goncharenko {
            float: left;
        }
    }
}