@font-face {
    font-family: OpenSans;
    src: local(OpenSans), url(fonts/OpenSans.woff);
    src: local(OpenSans-Regular), url(fonts/OpenSans-Regular.woff2);
}

// color
$key_clr: #828282;
$border_clr: #d3d3d3;
$dark: #333;
$red: #d10000;
$light_grey_clr: #E0E0E0;
$hover_clr: #2D9CDB;
// margin-padding
// font-size
$fs_constant: 16px;
$fs_medium: 18px;
body,
.header {
    background: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p,
a,
div,
body,
button,
input {
    font-family: OpenSans, Arial, ArialMT, Georgia, Arial, Times New Roman;
    font-size: $fs_constant;
    color: #333;
}

.no-gutters {
    padding: 0;
}

.img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}