@font-face {
    font-family: OpenSans;
    src: local(OpenSans), url(fonts/OpenSans.woff);
    src: local(OpenSans-Regular), url(fonts/OpenSans-Regular.woff2);
}

@font-face {
    font-family: OpenSans-Bold;
    src: local(OpenSans-Bold), url(fonts/OpenSans-Bold.woff);
    src: local(OpenSans-Bold), url(fonts/OpenSans-Bold.woff2);
}

@font-face {
    font-family: OpenSans-Italic;
    src: local(OpenSans-Italic), url(fonts/OpenSans-Italic.woff);
    src: local(OpenSans-Italic), url(fonts/OpenSans-Italic.woff2);
}

@font-face {
    font-family: OpenSans-BoldItalic;
    src: local(OpenSans-BoldItalic), url(fonts/OpenSans-BoldItalic.woff);
    src: local(OpenSans-BoldItalic), url(fonts/OpenSans-BoldItalic.woff2);
}

body {
    background: green;
}