.portfolio {
    margin: 11px 0 0 0;
    .img-portfolio {
        position: relative;
        text-align: center;
    }
    .img-home {
        max-width: 375px;
    }
    .link-section {
        cursor: pointer;
    }
    .portrait-photo,
    .advertising-photo {
        display: none;
    }
    .tape-category {
        width: 360px;
        height: 45px;
        background: $tape_clr;
        opacity: 0.7;
        display: inline-block;
    }
    .wrapper-text-category {
        position: absolute;
        left: 0;
        bottom: 19px;
        width: 100%;
        text-align: center;
    }
    .text-category {
        font-size: $fs_large;
        line-height: 59px;
    }
    @media screen and (min-width: 768px) {
        margin: 44px 0 0 0;
        .wrapper-img-portfolio {
            max-width: 768px;
            margin: 0 auto;
        }
        .img-portfolio {
            margin: 0 -12px -5px;
        }
        .portrait-photo,
        .advertising-photo {
            display: inline-block;
        }
    }
    @media screen and (min-width: 1200px) {
        .wrapper-img-portfolio {
            max-width: 1200px;
        }
        .img-portfolio {
            margin: 0px -20px -5px;
        }
    }
}